.said_bar
  .name_box
    .name_box__staff_name
      山田門左衛門 太郎
    = link_to "" , class: "name_box__icon" do
      = icon('fas', 'caret-down')
  = link_to "" , class: "home_btn" do
    = icon('fas', 'home')
  .Setting_btn
  = link_to "", class: "star_btn" do
    = icon("fas", 'star')
  = link_to "", class: "log_out" do
    = icon("fas", 'sign-out-alt')